body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

i {
  cursor: pointer;
}

.list-container {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  width: 55%;
  height: 70%;
  margin: 10% auto;
  box-shadow: 5px 5px 20px grey;
}

.list-container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 0 20px 0 20px;
  font-size: 1.2rem;
}

.list-container .add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  border-top: 1px solid gray;
}

.list-container .add input {
  border: none;
  margin-left: 20px;
  width: 80%;
  min-height: 45px;
  font-size: 1.3rem;
}

.list-container .add button {
  margin-right: 20px;
  font-size: 1.2em;
  border: none;
  background-color: transparent;
}

.list-container .clear {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 50px;
  text-align: center;
  border-top: 1px solid gray;
  background-color: #f6f6f6;
  color: grey;
}

.list-container .clear:active {
  color: white;
  background-color: red;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.d-none {
  display: none;
}

#error {
  color: red;
  font-size: 0.8rem;
}

.list-container .list {
  overflow: auto;
  display: flex;
  flex-flow: column;
  height: 90%;
  padding-left: 0;
  margin: 0;
}

.list-container .list li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  border-top: 1px solid gray;
  min-height: 70px;
}

.list-container .list li .description-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0;
  margin-left: 20px;
  min-height: 70px;
}

.list-container .list li .description-container p {
  margin: 10px;
  width: 100%;
  font-size: 1.3rem;
}

.list-container .list li .description-container .check {
  width: 1.2rem;
  height: 1.2rem;
}

.list-container .list li .description-container i {
  color: green;
  margin-right: 10px;
}

.list-container .description-container .edit-description {
  border: none;
  width: 80%;
  min-height: 65px;
  font-size: 1.3rem;
}

.list-container .list li .fas {
  margin-right: 9px;
  font-size: 1.2rem;
}

.fa-trash {
  color: red;
  padding: 10px;
}

.fa-edit {
  color: green;
}
